body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero {
    background-color: #6e6868;
    background-image: url("../styles/imgs/Chocolate-Macarons.jpg");
    padding-top: 300px;
    padding-bottom: 300px;
    background-size: cover;
    background-position: 100%;
}
img {
    height: 300px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 30px;
}

header {
    text-align: center;
    font-style: italic;
    color: #ffffff;
}

main {
    padding: 20px;

}

footer {
    color: black;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}